* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-almond: #ede0d4;
  --color-desert-sand: #e6ccb2;
  --color-tan: #ddb892;
  --color-cafe-au-lait: #b08968;
  --color-coffee: #7f5539;
  --color-brown-sugar: #9c6644;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

header {
  display: flex;
  width: 100vw;
  align-items: center;
  background-color: var(--color-desert-sand);
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

header .header-logo {
  width: 25vw;
  padding: 1vh 0 1vh 2vw;
}

nav {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
  background-color: var(--color-coffee);
  box-shadow: 3px 3px 10px 1px rgb(36, 36, 36);
  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
}

nav li:nth-child(4) a {
  margin-right: 5px;
}

main {
  display: flex;
  justify-content: flex-start;
  background-image: url("imagenes/Alimentos_saludables.jpg");
  background-size: auto;
  height: calc(100vh - 10vh - 7vh);
  background-repeat: space;
}

.main-text {
  display: flex;
  padding: 15px;
  width: 80vw;
  margin: auto;
  align-self: center;

  background-color: white;
  border-radius: 40px;
  border-style: solid;
  border-width: 1.5px;
  box-shadow: inset 0px 0px 70px 21px #b08968;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9c664486;
  height: auto;
  width: 20vh;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 18vh;

  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(36, 36, 36, 0.3);

  text-align: center;
  font-size: 1rem;
  color: var(--color-brown-sugar);
  font-weight: bold;
}

main .imagen-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

main .imagen-producto .imagenes {
  width: 8vw;
  padding: 1vh 0;
}

footer {
  display: flex;
  width: 100vw;
  height: 7vh;
  background-color: var(--color-coffee);
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}

.rs {
  height: 5vh;
  margin: auto 5vw;
}

.boton-rs {
  display: flex;
  color: white;
  margin-top: 1vh;
}

@media (min-height: 300px) and (orientation: portrait) {

  header .header-logo {
    width: 40vw;
  }

  main{
    flex-direction: column;
    justify-content: space-evenly;
  }
  aside {
    flex-direction: row;
    height: 25vh;
    width: 100vw;
    order:1;
  }

  .card{
    width: 15vw;
    margin-left: 1vw;
    height: 20vh;
  }

  main .imagen-producto .imagenes {
    width: 14vw;
    padding: 1vh 0;
  }

  .main-text{
    font-size: 1.9rem;
    height: 50vh;
    width: 70vw;
    margin: 0;
  }
}
