@media (orientation: portrait) {
  body {
    font-size: 1.6rem;
  }

  main {    
    width: 100vw;
    min-width: 450px;
    height: calc(100vh - 17vh);
  }

  aside {
    margin: auto;
  }

  .main-text {
    font-size: 2.6rem;
    margin: auto;
    order: -1;
    align-self: unset;
    height: auto;
    width: 70vw;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 11vw;
    min-width: 50px;
    height: 25vw;

    font-size: 1rem;
    color: var(--color-brown-sugar);
    font-weight: bold;
  }

  main .imagen-producto .imagenes {
    width: 10vw;
  }

  footer {
    display: flex;
    width: 100vw;
    height: 7vh;
    min-height: 30px;
    background-color: var(--color-coffee);
  }

  .rs {
    height: 5vh;
    margin-left: 50px;
  }

  .boton-rs {
    display: flex;
    color: white;
    margin-top: 1vh;
  }
}